@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "partials/variables";

:root {
    --animate-duration: 1.5s;
    --animate-delay: 0.9s;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
}

/*HEADER*/

header{
    position: sticky;
    top: 0;
    z-index: 1;
    nav{
        ul{
            list-style: none;
            background-color: #363636;
            display: flex;
            height: 80px;
            justify-content: center;
            align-items: center;
            a{
                color: #fff;
                text-decoration: none;
                font-size: 20px;
                padding: 30px;
                margin: 20px;
            }
            a:hover{
                color: $hover-color;
                cursor: pointer;
                transition: color 1s ease-in-out;
            }
        }
    }
}

/*HOME*/

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 92vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/pexels-photo-1552252.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    h1{
        color: #fff;
        font-size: 100px;
    }
        p{
            font-size: 50px;
            color: #ccc;
            padding: 50px;
        }
    button{
        font-size: 50px;
        background-color: blueviolet;
        padding: 7px 15px;
        border-radius: 35px;
    }
    button:hover{
        background-color: $hover-color;
        color: #fff;
        cursor: pointer;
        transition: background-color 1s ease-out;
        transition: color 1s ease-in-out;
    }
}

/*ABOUT*/

.about{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    background: rgb(187,187,200);
    background: linear-gradient(225deg, rgba(187,187,200,1) 44%, rgba(38,38,38,1) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
    padding: 50px;
    .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            margin-top: 0px;
            margin-bottom: 30px;
            font-size: $h2-fs;
            color: $subtitle-color;
        }
        p{
            font-size: 20px;
            padding: 30px;
        }
        button{
            font-size: 40px;
            background-color: blueviolet;
            border-radius: 35px;
            padding: 7px 15px;
        }
        button:hover{
            background-color: $hover-color;
            color: #fff;
            cursor: pointer;
            transition: background-color 1s ease-out;
            transition: color 1s ease-in-out;
        }
    }
    .img-container{
        background-image: url(../img/pexels-photo-4752861.jpeg);
        background-size: cover;
        background-position: center center;
        height: 750px;
        width: 505px;
        border-radius: 50px;
        border: 3px solid blueviolet;
    }
}

/*TEAM*/

.team{
    background: rgb(89,89,102);
    background: linear-gradient(135deg, rgba(89,89,102,1) 44%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
    h2{
        font-size: $h2-fs;
        text-align: center;
        padding: 40px;
        color: $subtitle-color;
    }
    .coaches{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 10px;
        .coach{
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            background-position: center center;
            background-size: cover;
            padding: 50px;
            margin: 20px;
            border-radius: 15px;
            height: 600px;
            color: #fff;
            text-align: center;
            h3{
                font-size: 30px;
                text-align: center;
            }
            p{
                display: block;
                margin: 30px;
            }
        }
        .coach:first-child{
            background-image: linear-gradient(
                0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(../img/coach1.jpeg);
        }
        .coach:nth-child(2){
            background-image: linear-gradient(
                0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(../img/coach2.jpeg);
        }
        .coach:nth-child(3){
            background-image: linear-gradient(
                0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(../img/coach3.jpeg);
        }
    }
}

/*PROGRAMS*/

.programs{
    background: rgb(187,187,200);
    background: linear-gradient(225deg, rgba(187,187,200,1) 44%, rgba(38,38,38,1) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
    h2{
        font-size: $h2-fs;
        text-align: center;
        padding: 40px;
        color: $subtitle-color;
    }
    .description{
        text-align: center;
        font-size: 20px;
        padding-bottom: 20px;
    }
    .training{
        display: flex;
        justify-content: center;
        .typet{
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            background-position: center center;
            background-size: cover;
            padding: 50px;
            margin: 20px;
            border-radius: 15px;
            height: 600px;
            color: #fff;
            text-align: center;
            h3{
                text-align: center;
                font-size: 30px;
            }
            p{
                display: block;
                margin: 30px;
            }
            button{
                font-size: 40px;
                background-color: blueviolet;
                border-radius: 35px;
                padding: 7px 15px;
            }
            button:hover{
                background-color: $hover-color;
                cursor: pointer;
                color: #fff;
                transition: background-color 1s ease-out;
                transition: color 1s ease-in-out;
            }
        }
        .typet:first-child{
            background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(../img/crossfit.jpeg);
        }
        .typet:nth-child(2){
            background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(../img/functional.jpeg);
        }
        .typet:nth-child(3){background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(../img/free-pass.jpeg);
        }
    }
}

/*CALENDAR*/

.calendar{
    background: rgb(89,89,102);
    background: linear-gradient(135deg, rgba(89,89,102,1) 44%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
    padding: 30px;
    h2{
        font-size: $h2-fs;
        text-align: center;
        padding: 10px;
        color: $subtitle-color;
    }
    table{
        text-align: center;
        border: 1px solid black;
        margin: 0 auto;
        background-color: #632432;
        width: 60%;
        color: #fff;
        padding: 30px;
        th,td{
            border: 1px solid black;
            padding: 20px;
        }
    }
}

/*FOOTER*/

footer{
    background-color: #363636;
    height: auto;
    display: flex;
    justify-content: space-between;
    h3{
        font-size: 25px;
        padding: 30px;
    }
    a{
        font-size: 40px;
        color: white;
        padding: 30px;
        text-align: center;
    }
    a:hover{
        color: $hover-color;
        cursor: pointer;
        transition: color 1s ease-out;
    }
    p{
        padding: 30px;
    }
}

/*CONTACT*/

.cont-bod{
    font-family: 'Quicksand', sans-serif;
    background: rgb(24,24,24);
    background: linear-gradient(180deg, rgba(24,24,24,1) 66%, rgba(205,205,205,1) 100%, rgba(204,204,204,1) 100%, rgba(204,204,204,1) 100%, rgba(204,204,204,1) 100%);
    color: #fff;
    line-height: 1.6;
    .content{
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 95px;
        padding: 1.5em;
        h1{
            text-align: center;
            font-size: 48px;
            margin-bottom: 30px;
            span{
                color: blueviolet;
            }
        }
        .contact-wrapper{
            box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
            display: grid;
            grid-template-columns: 2fr 1fr;
            .contact-form{
                background-color: #222222;
                form{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    .block{
                        grid-column: 1 / 3;
                    }
                    p{
                        margin: 0;
                        padding: 16px;
                    }
                    button, input, textarea{
                        width: 100%;
                        padding: .7em;
                        border: none;
                        background: none;
                        outline: none;
                        color: #fff;
                        border-bottom: 1px solid blueviolet;
                    }
                    button{
                        background: blueviolet;
                        border: none;
                        padding: 1em;
                        color: #000;
                    }
                    button:hover, button:focus{
                        background: $hover-color;
                        color: #fff;
                        transition: background-color 1s ease-out;
                        transition: color 1s ease-in-out;
                        outline: none;
                        cursor: pointer;
                    }
                }
            }
            .contact-info{
                background: #000;
                h4, ul, p{
                    padding: 16px;
                    text-align: left;
                }
                ul{
                    list-style: none;
                    padding: 0;
                    li{
                        padding: 6px;
                    }
                }
            }
        }
        .contact-wrapper > *{
            padding: 32px;
        }
    }
}