@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "partials/variables";

:root {
    --animate-duration: 1.5s;
    --animate-delay: 0.9s;
  }

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
}

/*HEADER*/

@import "partials/header";

/*HOME*/

@import "partials/home";

/*ABOUT*/

@import "partials/about";

/*TEAM*/

@import "partials/team";
/*PROGRAMS*/

@import "partials/programs";

/*CALENDAR*/

@import "partials/calendar";

/*FOOTER*/

@import "partials/footer";

/*CONTACT*/

@import "partials/contact";

/*MEDIA QUERIES*/

@media (max-width: 576px){
    /*Header*/
    nav{
        ul{
            height: 40px;
            li{
                a{
                    font-size: 14px;
                    margin: 0;
                    padding: 20px;
                }
            }
        }
    }
    /*About*/
    .about{
        display: flex;
        flex-direction: column-reverse;
        .texto{
            width: 100%;
            text-align: justify;
            h2{
                margin: 0;
            }
        }
        .img-container{
            display: none;
        }
    }
    /*Team*/
    .team{
        .coaches{
            display: grid;
            grid-template-columns: 1fr;
        }
    }
    /*Programs*/
    .programs{
        .training{
            display: flex;
            flex-direction: column;
        }
    }
    /*Footer*/
    footer{
        p{
            margin: 0;
            padding: 30px 0 0 0;
        }
        h3{
            padding-right: 0;
        }
    }
    /*Contact*/
    .contact-wrapper{
        display: flex;
        flex-direction: column;
    }
}