$subtitle-color: blueviolet;
$hover-color: purple;
$h2-fs: 40px;

.about{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    background: map-get($map: colors, $key: about-prog-bg);
    background: map-get($map: colors, $key: about-prog-bg-gradient);
    padding: 50px;
    .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            margin-top: 0px;
            margin-bottom: 30px;
            font-size: $h2-fs;
            color: map-get($map: colors, $key: subtitle-color);
        }
        p{
            font-size: 20px;
            padding: 30px;
        }
        button{
            font-size: 40px;
            background-color: blueviolet;
            border-radius: 35px;
            padding: 7px 15px;
        }
        button:hover{
            background-color: map-get($map: colors, $key: hover-color);
            color: #fff;
            cursor: pointer;
            transition: background-color 1s ease-out;
            transition: color 1s ease-in-out;
        }
    }
    .img-container{
        background-image: url(../img/pexels-photo-4752861.jpeg);
        background-size: cover;
        background-position: center center;
        height: 750px;
        width: 505px;
        border-radius: 50px;
        border: 3px solid blueviolet;
    }
}