$subtitle-color: blueviolet;
$hover-color: purple;
$h2-fs: 40px;

.calendar{
    background: map-get($map: colors, $key: team-cal-bg);
    background: map-get($map: colors, $key: team-cal-bg-gradient);
    padding: 30px;
    h2{
        font-size: $h2-fs;
        text-align: center;
        padding: 10px;
        color: map-get($map: colors, $key: subtitle-color);
    }
    table{
        text-align: center;
        border: 1px solid black;
        margin: 0 auto;
        background-color: #632432;
        width: 60%;
        color: #fff;
        padding: 30px;
        th,td{
            border: 1px solid black;
            padding: 20px;
        }
    }
}