$subtitle-color: blueviolet;
$hover-color: purple;
$h2-fs: 40px;

header{
    position: sticky;
    top: 0;
    z-index: 1;
    nav{
        ul{
            list-style: none;
            background-color: #363636;
            display: flex;
            height: 80px;
            justify-content: center;
            align-items: center;
            a{
                color: #fff;
                text-decoration: none;
                font-size: 20px;
                padding: 30px;
                margin: 20px;
            }
            a:hover{
                color: $hover-color;
                cursor: pointer;
                transition: color 1s ease-in-out;
            }
        }
    }
}