$subtitle-color: blueviolet;
$hover-color: purple;
$h2-fs: 40px;

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 92vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/pexels-photo-1552252.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    h1{
        color: #fff;
        font-size: 100px;
    }
        p{
            font-size: 50px;
            color: #ccc;
            padding: 50px;
        }
    button{
        font-size: 50px;
        background-color: blueviolet;
        padding: 7px 15px;
        border-radius: 35px;
    }
    button:hover{
        background-color: map-get($map: colors, $key: hover-color);
        color: #fff;
        cursor: pointer;
        transition: background-color 1s ease-out;
        transition: color 1s ease-in-out;
    }
}